button {
   border-top: 1px solid #9da825;
   background: #65d678;
   background: -webkit-gradient(linear, left top, left bottom, from(#949c3e), to(#65d678));
   background: -webkit-linear-gradient(top, #949c3e, #65d678);
   background: -moz-linear-gradient(top, #949c3e, #65d678);
   background: -ms-linear-gradient(top, #949c3e, #65d678);
   background: -o-linear-gradient(top, #949c3e, #65d678);
   padding: 10.5px 21px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 15px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   }
button:hover {
   border-top-color: #298522;
   background: #298522;
   color: #ccc;
   }
button:active {
   border-top-color: #83b322;
   background: #83b322;
   }